<!-- Generator: GNU source-highlight 3.1.6
by Lorenzo Bettini
http://www.lorenzobettini.it
http://www.gnu.org/software/src-highlite -->
<pre><tt><i><font color="#9A1900">(** {1 Basic definitions} *)</font></i>

<b><font color="#0000FF">type</font></b> <font color="#990000">(</font>'a<font color="#990000">,</font> 'b<font color="#990000">)</font> sum <font color="#990000">=</font> <font color="#009900">Left</font> <b><font color="#0000FF">of</font></b> 'a <font color="#990000">|</font> <font color="#009900">Right</font> <b><font color="#0000FF">of</font></b> 'b
<i><font color="#9A1900">(** An element of [('a, 'b) sum] is either a ['a] or a ['b] *)</font></i>

<b><font color="#0000FF">type</font></b> 'a stream <font color="#990000">=</font> <font color="#009900">Stream</font> <b><font color="#0000FF">of</font></b> <font color="#990000">(</font><font color="#009900">unit</font> <font color="#990000">-&gt;</font> <font color="#990000">(</font>'a <font color="#990000">*</font> 'a stream<font color="#990000">)</font> <font color="#009900">option</font><font color="#990000">)</font>
<i><font color="#9A1900">(** (possibly infinite) streams of values *)</font></i>

<i><font color="#9A1900">(** you have to implement the functions below; this may not be very</font></i>
<i><font color="#9A1900">    useful for the rest of the project, but consider this a warmup</font></i>
<i><font color="#9A1900">    exercize *)</font></i>
<b><font color="#0000FF">val</font></b> nil <font color="#990000">:</font> 'a stream
<b><font color="#0000FF">val</font></b> cons <font color="#990000">:</font> 'a <font color="#990000">-&gt;</font> 'a stream <font color="#990000">-&gt;</font> 'a stream

<i><font color="#9A1900">(** lazy cons *)</font></i>
<b><font color="#0000FF">val</font></b> lcons <font color="#990000">:</font> 'a <font color="#990000">-&gt;</font> <font color="#990000">(</font><font color="#009900">unit</font> <font color="#990000">-&gt;</font> 'a stream<font color="#990000">)</font> <font color="#990000">-&gt;</font> 'a stream

<b><font color="#0000FF">val</font></b> get <font color="#990000">:</font> 'a stream <font color="#990000">-&gt;</font> <font color="#990000">(</font>'a <font color="#990000">*</font> 'a stream<font color="#990000">)</font> <font color="#009900">option</font>
<b><font color="#0000FF">val</font></b> take <font color="#990000">:</font> 'a stream <font color="#990000">-&gt;</font> <font color="#009900">int</font> <font color="#990000">-&gt;</font> 'a <font color="#009900">list</font>

<b><font color="#0000FF">val</font></b> number_stream <font color="#990000">:</font> <font color="#009900">int</font> stream
<i><font color="#9A1900">(** the infinite stream [0,1,2,3...] *)</font></i>

<b><font color="#0000FF">val</font></b> stream_of_list <font color="#990000">:</font> 'a <font color="#009900">list</font> <font color="#990000">-&gt;</font> 'a stream

<i><font color="#9A1900">(** {1 First part: fair search}</font></i>

<i><font color="#9A1900">    The goal of the module Logic1, whose signature is below, is to</font></i>
<i><font color="#9A1900">    represent search problems: an OCaml expression of type ['a search]</font></i>
<i><font color="#9A1900">    represents a description of values of type ['a] that we would like</font></i>
<i><font color="#9A1900">    to search for. For example, with the combinators of this module</font></i>
<i><font color="#9A1900">    you can define a value of type [(int * int) search] that searches</font></i>
<i><font color="#9A1900">    for a couple of prime numbers [(p,q)] such that [q = p+2] or, if</font></i>
<i><font color="#9A1900">    you want, that represent all such couples.</font></i>

<i><font color="#9A1900">    In the general case, such search problems may have zero, several</font></i>
<i><font color="#9A1900">    or even an infinite number of solutions. You will have to</font></i>
<i><font color="#9A1900">    implement a function</font></i>
<i><font color="#9A1900">{[</font></i>
<i><font color="#9A1900">    solve : int -&gt; 'a search -&gt; 'a list</font></i>
<i><font color="#9A1900">]}</font></i>

<i><font color="#9A1900">    such that [solve n prob] returns a list of [n] solutions to the</font></i>
<i><font color="#9A1900">    search problem [prob], or less if there do not exist so enough</font></i>
<i><font color="#9A1900">    solutions. Solutions may be returned in any order, but you must be</font></i>
<i><font color="#9A1900">    ale to provide all possible solutions (if there is a finite number</font></i>
<i><font color="#9A1900">    of solutions).</font></i>
<i><font color="#9A1900">*)</font></i>
<b><font color="#0000FF">module</font></b> <font color="#009900">Logic1</font> <font color="#990000">:</font>
  <b><font color="#0000FF">sig</font></b>
    <b><font color="#0000FF">type</font></b> 'a search
    <i><font color="#9A1900">(** the type of search descriptions *)</font></i>

    <b><font color="#0000FF">val</font></b> solve <font color="#990000">:</font> <font color="#009900">int</font> <font color="#990000">-&gt;</font> 'a search <font color="#990000">-&gt;</font> 'a <font color="#009900">list</font>
    <i><font color="#9A1900">(** [solve n prob] returns [n] solutions to the search problem</font></i>
<i><font color="#9A1900">        [prob], or less if there aren't so many solutions *)</font></i>

    <b><font color="#0000FF">val</font></b> stream <font color="#990000">:</font> 'a stream <font color="#990000">-&gt;</font> 'a search
    <i><font color="#9A1900">(** a stream can be seen as a search problems whose solutions are</font></i>
<i><font color="#9A1900">        all the elements present in the stream *)</font></i>

    <b><font color="#0000FF">val</font></b> return <font color="#990000">:</font> 'a <font color="#990000">-&gt;</font> 'a search
    <i><font color="#9A1900">(** a single value also defines a search problem (which has</font></i>
<i><font color="#9A1900">        exactly this value as solution *)</font></i>

    <b><font color="#0000FF">val</font></b> fail <font color="#990000">:</font> 'a search
    <i><font color="#9A1900">(** the search problem with no solution *)</font></i>

    <b><font color="#0000FF">val</font></b> map <font color="#990000">:</font> <font color="#990000">(</font>'a <font color="#990000">-&gt;</font> 'b<font color="#990000">)</font> <font color="#990000">-&gt;</font> 'a stream <font color="#990000">-&gt;</font> 'b stream
    <i><font color="#9A1900">(** the solutions of [map f prob] are all the [f x] such that [x]</font></i>
<i><font color="#9A1900">        is a solution of [prob]. *)</font></i>

    <b><font color="#0000FF">val</font></b> sum <font color="#990000">:</font> 'a search <font color="#990000">-&gt;</font> 'b search <font color="#990000">-&gt;</font> <font color="#990000">(</font>'a<font color="#990000">,</font> 'b<font color="#990000">)</font> sum search
    <i><font color="#9A1900">(** the solutions of [sum pa pb] are all the solutions of problem</font></i>
<i><font color="#9A1900">        [pa], and all the solutions of problem [pb] *)</font></i>

    <b><font color="#0000FF">val</font></b> prod <font color="#990000">:</font> 'a search <font color="#990000">-&gt;</font> 'b search <font color="#990000">-&gt;</font> <font color="#990000">(</font>'a <font color="#990000">*</font> 'b<font color="#990000">)</font> search

    <b><font color="#0000FF">val</font></b> guard <font color="#990000">:</font> <font color="#990000">(</font>'a <font color="#990000">-&gt;</font> <font color="#009900">bool</font><font color="#990000">)</font> <font color="#990000">-&gt;</font> 'a search <font color="#990000">-&gt;</font> 'a search
    <i><font color="#9A1900">(** the solutions of [guard condition prob] are the solutions of</font></i>
<i><font color="#9A1900">        [prob] that also satisfy [condition]. *)</font></i>
  <b><font color="#0000FF">end</font></b>

<i><font color="#9A1900">(** Evaluation</font></i>

<i><font color="#9A1900">The following code should work:</font></i>

<i><font color="#9A1900">{[</font></i>
<i><font color="#9A1900">let () =</font></i>
<i><font color="#9A1900">  let open Logic1 in</font></i>
<i><font color="#9A1900">  let number = stream number_stream in</font></i>
<i><font color="#9A1900">  let posnum = guard (fun n -&gt; n &gt; 0) number in</font></i>

<i><font color="#9A1900">  let pytha =</font></i>
<i><font color="#9A1900">    (* we search for triples pythagorean triples (a, b, c):</font></i>
<i><font color="#9A1900">         a² + b² = c²</font></i>
<i><font color="#9A1900">       to avoid duplication of solutions, we also request (a &lt; b) *)</font></i>
<i><font color="#9A1900">    let ab =</font></i>
<i><font color="#9A1900">      prod posnum posnum</font></i>
<i><font color="#9A1900">      |&gt; guard (fun (a,b) -&gt; a &lt; b) in</font></i>
<i><font color="#9A1900">    prod ab posnum</font></i>
<i><font color="#9A1900">    |&gt; guard (fun ((a,b),c) -&gt; a*a+b*b=c*c) in</font></i>

<i><font color="#9A1900">  solve 10 pytha |&gt; List.iter</font></i>
<i><font color="#9A1900">      (fun ((a,b),c) -&gt; Printf.printf "%d² + %d² = %d²\n" a b c) </font></i>
<i><font color="#9A1900">]}</font></i>

<i><font color="#9A1900">    A difficulty with this exercize is that [posnumber] has an</font></i>
<i><font color="#9A1900">    infinite number of solutions. If you haven't defined [prod]</font></i>
<i><font color="#9A1900">    carefully enough, this program may loop without returning</font></i>
<i><font color="#9A1900">    anything, despite having simple solutions.</font></i>

<i><font color="#9A1900">    PS: (|&gt;) and (@@) are infix operators defined in OCaml 4.01 as</font></i>
<i><font color="#9A1900">    let (@@) f x = f x</font></i>
<i><font color="#9A1900">    let (|&gt;) x f = f x</font></i>

<i><font color="#9A1900">    If you have an older OCaml version, just define them</font></i>
<i><font color="#9A1900">    at the top of your file.</font></i>
<i><font color="#9A1900">*)</font></i>




<i><font color="#9A1900">(** {1 Second part: distribution probabilities}</font></i>



<i><font color="#9A1900">*)</font></i>
</tt></pre>
