<!-- Generator: GNU source-highlight 3.1.6
by Lorenzo Bettini
http://www.lorenzobettini.it
http://www.gnu.org/software/src-highlite -->
<pre><tt><i><font color="#9A1900">(** {1 Second part: random computations} *)</font></i>

<i><font color="#9A1900">(** The second part of the project is more open-ended than the</font></i>
<i><font color="#9A1900">    first. I will give here a module interface, PROB, and a few</font></i>
<i><font color="#9A1900">    convenience functions, and then ask you to play with it, implement</font></i>
<i><font color="#9A1900">    a few ideas, and show me how you've used them. We will give you</font></i>
<i><font color="#9A1900">    a good grade if we think you did something interesting.</font></i>

<i><font color="#9A1900">    Note in particular that the interface PROB is not set in stone:</font></i>
<i><font color="#9A1900">    if, in the course of your use of this library, you discover that</font></i>
<i><font color="#9A1900">    you need additional primitives, please extend the signature to add</font></i>
<i><font color="#9A1900">    them, and explain (in comments) what they do and how you use</font></i>
<i><font color="#9A1900">    them. Adding interesting primitives is a good thing -- not at all</font></i>
<i><font color="#9A1900">    mandatory, but appreciated.</font></i>
<i><font color="#9A1900">*)</font></i>

<i><font color="#9A1900">(** {2 Second part: random computations} *)</font></i>

<i><font color="#9A1900">(** The last module exported a type ['a search] to represent solutions</font></i>
<i><font color="#9A1900">    to a search problem. This one has a type ['a dist] that</font></i>
<i><font color="#9A1900">    expressions possible outputs of a random computation. For example,</font></i>
<i><font color="#9A1900">    you may define a value [flip_coin : bool dist] that represents</font></i>
<i><font color="#9A1900">    flipping a random coin, and (morally) returns true half of the</font></i>
<i><font color="#9A1900">    time, false the other.</font></i>

<i><font color="#9A1900">    The interesting thing with the ['a dist] type is that we can "run"</font></i>
<i><font color="#9A1900">    the random computation and get not one output, but *all possible</font></i>
<i><font color="#9A1900">    outputs, with their respective probabilities*. The output of</font></i>
<i><font color="#9A1900">    [run compare flip_coin] should be something like</font></i>
<i><font color="#9A1900">    (I'll explain what the "compare" is for later):</font></i>

<i><font color="#9A1900">      [(true, 0.5); (false, 0.5)]</font></i>

<i><font color="#9A1900">    A very nice thing with this ['a dist] is that it allows us to</font></i>
<i><font color="#9A1900">    check whether some algorithms are "really random", in the sense</font></i>
<i><font color="#9A1900">    that all their outputs have an equal chance of happening (it's an</font></i>
<i><font color="#9A1900">    uniform distribution), or if the randomness is skewed (e.g., the</font></i>
<i><font color="#9A1900">    coin returns true more often than false). For example, if [a] and</font></i>
<i><font color="#9A1900">    [b] are two integers choosen at random in [0..3], is [a+b]</font></i>
<i><font color="#9A1900">    uniform, or do some sums happen more often than others? Is [4*a+b]</font></i>
<i><font color="#9A1900">    uniform? Let's check:</font></i>

<i><font color="#9A1900">      # let pair = prod (rand 3) (rand 3);;</font></i>
<i><font color="#9A1900">      val pair : (int * int) Prob.dist = &lt;abstr&gt;</font></i>
<i><font color="#9A1900">      # let sum = map (fun (a,b) -&gt; a+b) pair;;</font></i>
<i><font color="#9A1900">      val sum : int Prob.dist = &lt;abstr&gt;</font></i>
<i><font color="#9A1900">      # let sum4 = map (fun (a,b)-&gt; 4 * a + b) pair;;</font></i>
<i><font color="#9A1900">      val sum4 : int Prob.dist = &lt;abstr&gt;</font></i>
<i><font color="#9A1900">      # run compare sum;;</font></i>
<i><font color="#9A1900">      - : (int * float) list =</font></i>
<i><font color="#9A1900">      [(0, 0.111111111111111105); (1, 0.22222222222222221);</font></i>
<i><font color="#9A1900">       (2, 0.333333333333333315); (3, 0.22222222222222221);</font></i>
<i><font color="#9A1900">       (4, 0.111111111111111105)]</font></i>
<i><font color="#9A1900">      # run compare sum4;;</font></i>
<i><font color="#9A1900">      - : (int * float) list =</font></i>
<i><font color="#9A1900">      [(0, 0.111111111111111105); (1, 0.111111111111111105);</font></i>
<i><font color="#9A1900">       (2, 0.111111111111111105); (4, 0.111111111111111105);</font></i>
<i><font color="#9A1900">       (5, 0.111111111111111105); (6, 0.111111111111111105);</font></i>
<i><font color="#9A1900">       (8, 0.111111111111111105); (9, 0.111111111111111105);</font></i>
<i><font color="#9A1900">       (10, 0.111111111111111105)]</font></i>

<i><font color="#9A1900">    From this experiment you can directly see (in fact we have</font></i>
<i><font color="#9A1900">    _proved_) that [a+b] is not a uniform random number, while [4*a+b]</font></i>
<i><font color="#9A1900">    is. This is something you should already know: when you throw two</font></i>
<i><font color="#9A1900">    dice in [1..6] and sum them, the "number in the middle", 7, appear</font></i>
<i><font color="#9A1900">    more often than any other; same thing for 2 in this example.</font></i>
<i><font color="#9A1900">*)</font></i>

<b><font color="#0000FF">module</font></b> <b><font color="#0000FF">type</font></b> <font color="#009900">PROB</font> <font color="#990000">=</font> <b><font color="#0000FF">sig</font></b>
  <b><font color="#0000FF">type</font></b> 'a dist

  <i><font color="#9A1900">(** You may (or may not) need to sort values of type ['a] in your</font></i>
<i><font color="#9A1900">      implementation of the PROB signature. In order to make life</font></i>
<i><font color="#9A1900">      easier for those of you that decide to do so, I decided than</font></i>
<i><font color="#9A1900">      [run] would always require a comparison function of type ['a -&gt;</font></i>
<i><font color="#9A1900">      'a -&gt; int], just as those required by [Map.Make] and</font></i>
<i><font color="#9A1900">      [Set.Make]. In most cases you can just pass the standard</font></i>
<i><font color="#9A1900">      function [compare] of OCaml, which has the right type and does</font></i>
<i><font color="#9A1900">      the right thing for values that don't contain functions.</font></i>
<i><font color="#9A1900">  *)</font></i>
  <b><font color="#0000FF">val</font></b> run <font color="#990000">:</font> <font color="#990000">(</font>'a <font color="#990000">-&gt;</font> 'a <font color="#990000">-&gt;</font> <font color="#009900">int</font><font color="#990000">)</font> <font color="#990000">-&gt;</font> 'a dist <font color="#990000">-&gt;</font> <font color="#990000">(</font>'a <font color="#990000">*</font> <font color="#009900">float</font><font color="#990000">)</font> <font color="#009900">list</font>

  <b><font color="#0000FF">val</font></b> return <font color="#990000">:</font> 'a <font color="#990000">-&gt;</font> 'a dist

  <i><font color="#9A1900">(** an element chosen at random, with equal probability, in the</font></i>
<i><font color="#9A1900">      given array *)</font></i>
  <b><font color="#0000FF">val</font></b> uniform <font color="#990000">:</font> 'a <font color="#009900">array</font> <font color="#990000">-&gt;</font> 'a dist

  <i><font color="#9A1900">(** [rand n] is a random number between 0 and (n-1) *)</font></i>
  <b><font color="#0000FF">val</font></b> rand <font color="#990000">:</font> <font color="#009900">int</font> <font color="#990000">-&gt;</font> <font color="#009900">int</font> dist

  <i><font color="#9A1900">(** be careful to compute the probabilities of the product</font></i>
<i><font color="#9A1900">      correctly *)</font></i>
  <b><font color="#0000FF">val</font></b> prod <font color="#990000">:</font> 'a dist <font color="#990000">-&gt;</font> 'b dist <font color="#990000">-&gt;</font> <font color="#990000">(</font>'a <font color="#990000">*</font> 'b<font color="#990000">)</font> dist
  <b><font color="#0000FF">val</font></b> map <font color="#990000">:</font> <font color="#990000">(</font>'a <font color="#990000">-&gt;</font> 'b<font color="#990000">)</font> <font color="#990000">-&gt;</font> 'a dist <font color="#990000">-&gt;</font> 'b dist

  <b><font color="#0000FF">val</font></b> bind <font color="#990000">:</font> 'a dist <font color="#990000">-&gt;</font> <font color="#990000">(</font>'a <font color="#990000">-&gt;</font> 'b dist<font color="#990000">)</font> <font color="#990000">-&gt;</font> 'b dist
<b><font color="#0000FF">end</font></b>

<b><font color="#0000FF">module</font></b> <font color="#009900">Prob</font> <font color="#990000">:</font> <font color="#009900">PROB</font> <font color="#990000">=</font> <b><font color="#0000FF">struct</font></b>
    <i><font color="#9A1900">(* FILL CODE HERE *)</font></i>
<b><font color="#0000FF">end</font></b>

<i><font color="#9A1900">(** {2 Where you should go from here} *)</font></i>

<i><font color="#9A1900">(* I want you to experiment with the Prob modules (or variants of the</font></i>
<i><font color="#9A1900">   Prob modules if you find extensions or different approaches that</font></i>
<i><font color="#9A1900">   would be interesting) to study the probabilities of outputs of</font></i>
<i><font color="#9A1900">   programs using randomness.</font></i>

<i><font color="#9A1900">*)</font></i>

<i><font color="#9A1900">(*  </font></i>
<i><font color="#9A1900">   As a first step, I suggest you study *array shuffles* (ways to</font></i>
<i><font color="#9A1900">   shuffle randomly the elements of an array); for example, starting</font></i>
<i><font color="#9A1900">   from the array [|3;4|], you want the shuffle to randomly return</font></i>
<i><font color="#9A1900">   [|3;4|] or [|4;3|], each with the same probability. There are many</font></i>
<i><font color="#9A1900">   algorithms to shuffle an array, and most of them are wrong, in the</font></i>
<i><font color="#9A1900">   sense than some outputs are more likely than the others.</font></i>

<i><font color="#9A1900">   I recommend that you try to implement, using the [Prob] module, the</font></i>
<i><font color="#9A1900">   two following algorithms to shuffle an array of size N:</font></i>

<i><font color="#9A1900">   - algorithm 1: N times, pick two integers i,j among [0..N-1], and</font></i>
<i><font color="#9A1900">   swap the values of the array at indices i and j</font></i>

<i><font color="#9A1900">   - algorithm 2: assign to each value of the array a random "weight"</font></i>
<i><font color="#9A1900">   in [0..N-1], sort the values by their weights, and return the</font></i>
<i><font color="#9A1900">   corresponding array</font></i>

<i><font color="#9A1900">   Do those techniques return a shuffled array with uniform</font></i>
<i><font color="#9A1900">   randomness, or do they return some outputs more often than the</font></i>
<i><font color="#9A1900">   other?</font></i>

<i><font color="#9A1900">   Could you write a third shuffling algorithm that is different from</font></i>
<i><font color="#9A1900">   those two, and is uniform -- each output has equal chances of being</font></i>
<i><font color="#9A1900">   chosen? I don't mind if you search for an algorithm to do that on</font></i>
<i><font color="#9A1900">   the internet -- there is a simple, well-known way to do this, that</font></i>
<i><font color="#9A1900">   is interesting to search for if you have some time, but is not the</font></i>
<i><font color="#9A1900">   topic of this project.</font></i>

<i><font color="#9A1900">   There is code below that will help you work with (persistent)</font></i>
<i><font color="#9A1900">   arrays, and write code using the Prob module that look a bit like</font></i>
<i><font color="#9A1900">   the imperative algorithm (you cannot directly use OCaml's "for"</font></i>
<i><font color="#9A1900">   loops to produce ['a dist] values).</font></i>
<i><font color="#9A1900">*)</font></i>

<i><font color="#9A1900">(* </font></i>
<i><font color="#9A1900">   What to do next?</font></i>

<i><font color="#9A1900">   </font></i>
<i><font color="#9A1900">   It's your choice, this project is open-ended. If you stop here, and</font></i>
<i><font color="#9A1900">   have done correctly the ['a search] part, the ['a dist] module and</font></i>
<i><font color="#9A1900">   the three shuffles, I will already be happy -- and you may be tired.</font></i>

<i><font color="#9A1900">   I expect some of you to go further, however. I'm sure there are</font></i>
<i><font color="#9A1900">   other random algorithms you're interested in, that you could try to</font></i>
<i><font color="#9A1900">   express with ['a dist] type, to check whether they're uniform or</font></i>
<i><font color="#9A1900">   what their output probabilities are.</font></i>

<i><font color="#9A1900">   Alternatively, there are other ways to represent random</font></i>
<i><font color="#9A1900">   computations. Instead of returning the probability distribution of</font></i>
<i><font color="#9A1900">   all the outputs, you can define a datatype that will return the</font></i>
<i><font color="#9A1900">   expected value ("espérance") of the random process. Or only compute</font></i>
<i><font color="#9A1900">   *some* of the possible outputs, by simulating the algorithm, and</font></i>
<i><font color="#9A1900">   approximate the real distributions by making several runs. This is</font></i>
<i><font color="#9A1900">   probably harder than expressing other algorithms, though, so</font></i>
<i><font color="#9A1900">   I wouldn't recommend it.</font></i>
<i><font color="#9A1900">*)</font></i>

<i><font color="#9A1900">(** {2 Helper functions for array-manipulating code} *)</font></i>

<i><font color="#9A1900">(** The code below will help you write functions doing random</font></i>
<i><font color="#9A1900">    manipulations on arrays; it is not very interesting so I'm giving it</font></i>
<i><font color="#9A1900">    directly. *)</font></i>

<i><font color="#9A1900">(** Side-effects would not mix very well with the various structures</font></i>
<i><font color="#9A1900">    we have in the Prob module. We will therefore use *persistent*</font></i>
<i><font color="#9A1900">    arrays, such as the "get" and "set" operation do not mutate an</font></i>
<i><font color="#9A1900">    existing array in place, but return a new array, without modifying</font></i>
<i><font color="#9A1900">    the old one.</font></i>

<i><font color="#9A1900">    To make things simple, I just reused the Map structure of OCaml,</font></i>
<i><font color="#9A1900">    that provides association maps with keys at any type with</font></i>
<i><font color="#9A1900">    a comparison function. I define PArray (persistent arrays) as maps</font></i>
<i><font color="#9A1900">    whose keys are integers. An invariant such maps must respect is</font></i>
<i><font color="#9A1900">    their keys are exactly 0,1,...,N-1, where N is the size of the</font></i>
<i><font color="#9A1900">    map.</font></i>
<i><font color="#9A1900">*)</font></i>
<b><font color="#0000FF">module</font></b> <font color="#009900">PArray</font> <font color="#990000">=</font> <b><font color="#000080">Map</font></b><font color="#990000">.</font><font color="#009900">Make</font><font color="#990000">(</font><b><font color="#0000FF">struct</font></b>
  <b><font color="#0000FF">type</font></b> t <font color="#990000">=</font> <font color="#009900">int</font>
  <b><font color="#0000FF">let</font></b> compare <font color="#990000">=</font> compare
<b><font color="#0000FF">end</font></b><font color="#990000">)</font>

<i><font color="#9A1900">(** conversion functions *)</font></i>
<b><font color="#0000FF">let</font></b> parray_of_array arr <font color="#990000">=</font>
  <b><font color="#0000FF">let</font></b> parray <font color="#990000">=</font> <font color="#009900">ref</font> <b><font color="#000080">PArray</font></b><font color="#990000">.</font>empty <b><font color="#0000FF">in</font></b>
  <b><font color="#0000FF">for</font></b> i <font color="#990000">=</font> <font color="#993399">0</font> <b><font color="#0000FF">to</font></b> <b><font color="#000080">Array</font></b><font color="#990000">.</font>length arr <font color="#990000">-</font> <font color="#993399">1</font> <b><font color="#0000FF">do</font></b>
    parray <font color="#990000">:=</font> <b><font color="#000080">PArray</font></b><font color="#990000">.</font>add i arr<font color="#990000">.(</font>i<font color="#990000">)</font> <font color="#990000">!</font>parray
  <b><font color="#0000FF">done</font></b><font color="#990000">;</font>
  <font color="#990000">!</font>parray

<b><font color="#0000FF">let</font></b> array_of_parray parray <font color="#990000">=</font>
  <b><font color="#000080">Array</font></b><font color="#990000">.</font>init <font color="#990000">(</font><b><font color="#000080">PArray</font></b><font color="#990000">.</font>cardinal parray<font color="#990000">)</font>
    <font color="#990000">(</font><b><font color="#0000FF">fun</font></b> i <font color="#990000">-&gt;</font> <b><font color="#000080">PArray</font></b><font color="#990000">.</font>find i parray<font color="#990000">)</font>

<i><font color="#9A1900">(** length of a persistent array *)</font></i>
<b><font color="#0000FF">let</font></b> length <font color="#990000">=</font> <b><font color="#000080">PArray</font></b><font color="#990000">.</font>cardinal

<i><font color="#9A1900">(** swapping two indices of a persistent array *)</font></i>
<b><font color="#0000FF">let</font></b> swap i j parray <font color="#990000">=</font>
  parray
  <font color="#990000">|&gt;</font> <b><font color="#000080">PArray</font></b><font color="#990000">.</font>add i <font color="#990000">(</font><b><font color="#000080">PArray</font></b><font color="#990000">.</font>find j parray<font color="#990000">)</font>
  <font color="#990000">|&gt;</font> <b><font color="#000080">PArray</font></b><font color="#990000">.</font>add j <font color="#990000">(</font><b><font color="#000080">PArray</font></b><font color="#990000">.</font>find i parray<font color="#990000">)</font>

<i><font color="#9A1900">(** Remark: feel free, of course, to add additional convenience</font></i>
<i><font color="#9A1900">    functions, according to the needs of the code you'll develop. *)</font></i>

<b><font color="#000080">open</font></b> <font color="#009900">Prob</font>

<i><font color="#9A1900">(** looping functions; you may want to look at their type *)</font></i>
<b><font color="#0000FF">let</font></b> <b><font color="#0000FF">rec</font></b> for_to a b v f <font color="#990000">=</font>
  <b><font color="#0000FF">if</font></b> a <font color="#990000">&gt;</font> b <b><font color="#0000FF">then</font></b> return v
  <b><font color="#0000FF">else</font></b>
    bind <font color="#990000">(</font>f a v<font color="#990000">)</font> @@ <b><font color="#0000FF">fun</font></b> v' <font color="#990000">-&gt;</font>
    for_to <font color="#990000">(</font>a <font color="#990000">+</font> <font color="#993399">1</font><font color="#990000">)</font> b v' f

<b><font color="#0000FF">let</font></b> <b><font color="#0000FF">rec</font></b> for_downto a b v f <font color="#990000">=</font>
  <b><font color="#0000FF">if</font></b> a <font color="#990000">&lt;</font> b <b><font color="#0000FF">then</font></b> return v
  <b><font color="#0000FF">else</font></b>
    bind <font color="#990000">(</font>f a v<font color="#990000">)</font> @@ <b><font color="#0000FF">fun</font></b> v' <font color="#990000">-&gt;</font>
    for_downto <font color="#990000">(</font>a <font color="#990000">-</font> <font color="#993399">1</font><font color="#990000">)</font> b v' f

<i><font color="#9A1900">(** example of use of looping functions (of no particular interest):</font></i>
<i><font color="#9A1900">    returns a persistent array of length n with, at each index i,</font></i>
<i><font color="#9A1900">    a random number between 0 and i *)</font></i>
<b><font color="#0000FF">let</font></b> rand_parray n <font color="#990000">=</font>
  <b><font color="#0000FF">let</font></b> init <font color="#990000">=</font> parray_of_array <font color="#990000">(</font><b><font color="#000080">Array</font></b><font color="#990000">.</font>make n <font color="#993399">0</font><font color="#990000">)</font> <b><font color="#0000FF">in</font></b>
  for_to <font color="#993399">0</font> n init <font color="#990000">(</font><b><font color="#0000FF">fun</font></b> i parr <font color="#990000">-&gt;</font>
    bind <font color="#990000">(</font>rand <font color="#990000">(</font>i<font color="#990000">+</font><font color="#993399">1</font><font color="#990000">))</font> @@ <b><font color="#0000FF">fun</font></b> v <font color="#990000">-&gt;</font>
    return <font color="#990000">(</font><b><font color="#000080">PArray</font></b><font color="#990000">.</font>add i v parr<font color="#990000">))</font>

<i><font color="#9A1900">(** [rand_parray n] returns a [int PArray.t Prob.dist], a distribution</font></i>
<i><font color="#9A1900">    of persistent arrays; if we want to inspect the content of those</font></i>
<i><font color="#9A1900">    arrays, it's better to convert them back to normal arrays that can</font></i>
<i><font color="#9A1900">    be pretty-printed by the toplevel:</font></i>
<i><font color="#9A1900">      (rand_parray n |&gt; Prob.map array_of_parray)</font></i>

<i><font color="#9A1900">    On my machine, "running" the probability distribution to get the</font></i>
<i><font color="#9A1900">    actual probabilities of each output returns the following result:</font></i>

<i><font color="#9A1900">    # run compare (rand_parray 2 |&gt; map array_of_parray);;</font></i>
<i><font color="#9A1900">    - : (int array * float) list =</font></i>
<i><font color="#9A1900">    [([|0; 0; 0|], 0.166666666666666657);</font></i>
<i><font color="#9A1900">     ([|0; 0; 1|], 0.166666666666666657);</font></i>
<i><font color="#9A1900">     ([|0; 0; 2|], 0.166666666666666657);</font></i>
<i><font color="#9A1900">     ([|0; 1; 0|], 0.166666666666666657);</font></i>
<i><font color="#9A1900">     ([|0; 1; 1|], 0.166666666666666657);</font></i>
<i><font color="#9A1900">     ([|0; 1; 2|], 0.166666666666666657)]</font></i>

<i><font color="#9A1900">    Of course, the order of the result is not important: it is not</font></i>
<i><font color="#9A1900">    a problem if your code for Prob returns those result in</font></i>
<i><font color="#9A1900">    a different order. Remark that, as expected, each output comes out</font></i>
<i><font color="#9A1900">    with the same (uniform) probability.</font></i>
<i><font color="#9A1900">*)</font></i>
</tt></pre>
